:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --abbr-primary: #007bc7;
  --abbr-secondary: #08AD3A;
  --abbr-text: #343434;
  --abbr-dark-blue: #004A73;

  color: white;
  background-color: var(--abbr-dark-blue);
}
body {
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}