main {
  padding: 3rem;
  text-align: center;
  background-color: white;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.235rem;

  max-height: 28rem;

  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;

  &::-webkit-scrollbar {
    // display: none;
  }
}

table {
  color: white;
  border-collapse: separate;

  border-spacing: 0 0.5rem;
  td {
    padding: 1.25rem 2rem;
    
    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

thead {
  background-color: green;
  th {
    padding: 0.5rem;
    
    &:first-child {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    &:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

tbody {
  tr:nth-child(odd) {
    background: var(--abbr-primary);
  }
  tr:nth-child(even) {
    background: var(--abbr-secondary);
  }
}

.green-ball {
  background-color: green;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  border: 0.175rem solid var(--abbr-text);
}