:root {
  --abbr-blue-500: #004A73;
  --abbr-blue-300: #007BC7;
  --abbr-blue-100: #2fadfc;
  --abbr-green-500: #08AD3A;
  --abbr-green-300: #61CE70;
  --abbr-gray-900: #343434;
  --abbr-gray-300: #727272;
  --abbr-black: #000;

}